.intro{
    background-color: #575fcf;
    display: flex;

    .left{
        flex: 0.5;
        .voxelCanvas{
            margin: 2rem;
            width: calc(50vw - 10rem);
            height: calc(100vh - 10rem);
            background-color: aqua;
        }
    }
    .right{
        flex: 0.5;
    }
}